{% for item in collection %}
    <li>
        <a href="{{ item.url }}" class="item">{{ item.title }}</a>
        {% if item.header.date %}<p><time datetime="{{ item.date|date('c') }}">
        {{ [item.date|date('d'), 'MONTHS'|ta(item.date|date('n') -1), item.date|date('Y'), item.date|date('H:i') ]|join(' ') }}
    </time></p>{% endif %}
        {% if item.header.place %}<p>{{ item.header.place }}</p>{% endif %}
        {% if item.header.organisers %}<p class="small">{{ item.header.organisers|join(' et ') }}</p>{% endif %}
        {% if item.header.link %}
            {% for info in item.header.link %}
                <a class="small" href="{{ info.url }}" target="_blank">{{ info.name }}</a>
            {% endfor %}
        {% endif %}
    </li>
{% endfor %}
