{% extends 'partials/base.html.twig' %}

{% block page %}
<main>
    <div id="square1" class="square top left">
    </div>
    <div id="square2" class="square top right">
    </div>
    <div id="square3" class="square bottom left">
    </div>
    <div id="square4" class="square bottom right">
    </div>
    <div id="head" class="top left">
        <h1>{{ page.title }}</h1>
        <nav>
            <button type="button" id="menu-toggler" alt="Ouvrir le Menu">Menu</button>
            <button type="button" id="map-toggler" alt="Ouvrir la Map">Map</button>
        </nav>
    </div>
{% block content %}
{% endblock %}
</main>
<nav id="pages-nav" aria-hidden="true">
    <ul>
        <li class="top">
            <a href="">Page</a>
        </li>
        <li class=" top left">
            <a href="">Page</a>
        </li>
        <li class="top right">
            <a href="">Page</a>
        </li>
        <li class="bottom">
            <a href="">Page</a>
        </li>
    </ul>
</nav>
<div id="menu" class="hide">
    <button type="button" id="cross" class="top right"alt="Fermer le Menu">✕</button>
    <ul>
        <li>
            <a id="logo" href="">
                <img src="{{ url('theme://images/logo.svg') }}"/>
            </a>
        </li>
        <li>
            <a href="" class="lang">FR</a> / <a href="" class="lang">EN</a>
            <a href="">Plan du site</a>
        </li>
        <li class="bottom">
            {% for page in pages.children.visible %}
            <a href="{{ page.url }}">{{ page.title }}</a>
            {% endfor %}
        </li>
    </ul>
</div>
<div id="map" class="hide">
    <button type="button" id="cross" class="top right" alt="Fermer la Map">✕</button>
    <ul>
    {% for page in pages.children.visible %}
        <div>
            <div>
                <li>
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
            </div>
        </div>
    {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% endblock %}
