{% extends 'default.html.twig' %}
{% set color = page.parent.header.currentColor %}
{% block content %}
    <div id="list" class="top left">
        <ul>
            <li>
                <h1 class="item">{{ page.title }}</h1>
                {% if page.header.date %}<p><time datetime="{{ page.date|date('c') }}">
                {{ [page.date|date('d'), 'MONTHS'|ta(page.date|date('n') -1), page.date|date('Y'), item.date|date('H:i') ]|join(' ') }}
            </time></p>{% endif %}
                {% if page.header.place %}<p>{{ page.header.place }}</p>{% endif %}
                {% if page.header.organisers %}<p class="small">{{ page.header.organisers|join(' et ') }}</p>{% endif %}
                {% if page.header.link %}
                    {% for info in page.header.link %}
                        <a class="small" href="{{ info.url }}" target="_blank">{{ info.name }}</a>
                    {% endfor %}
                {% endif %}
            </li>
        </ul>
        <nav>
            <button type="button" id="menu-toggler" alt="Ouvrir le Menu">Menu</button>
            <button type="button" id="map-toggler" alt="Ouvrir la Map">Map</button>
        </nav>
    </div>
    <div id="content">
        {% for item in page.header.content %}
            {% if item.media %}
            <figure>
                {% set mediaType = page.media[item.media].items.type %}
                {% if mediaType == 'image' or mediaType== 'animated' %}
                    {% if page.media[item.media].height >= page.media[item.media].width %}
                        {{ page.media[item.media].html('', '', 'portrait') }}
                        {% else %}
                        {{ page.media[item.media].html('', '') }}
                    {% endif %}
                {% else %}
                {% if mediaType == 'video' or mediaType == 'audio' %}
                    {{ page.media[item.media].controls(1) }}
                {% endif %}
                {% endif %}
            {% endif %}
            {% if item.caption %}
                <figcaption>{{ item.caption|markdown }}</figcaption>
            {% endif %}
            </figure>
            {% if item.text %}
                <div class="text">{{ item.text|markdown }}</div>
            {% endif %}
        {% endfor %}
        {% if not page.header.content and page.media %}
        {% for media in page.media.all %}
            {% if media.type =='image' or media.type == 'animated' %}
                {{ media.html() }}
            {% else %}
            {% if media.type == 'video' or media.type == 'audio' %}
                {{ media.controls(1) }}
            {% endif %}
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if page.content %}<div class="text">{{ page.content }}</div>{% endif %}
    </div>
    <nav id="page-nav" class="bottom">
        <a href="{{ page.parent.route }}">Retour</a>
    </nav>
{% endblock %}
