{% extends 'default.html.twig' %}
{% set color = page.parent.header.currentColor %}
{% block content %}
    <div id="list" class="top left">
        <ul>
            <li>
                <h1 class="item">{{ page.title }}</h1>
                {% if page.header.date %}<p><time datetime="{{ page.date|date('c') }}">
                {{ [page.date|date('d'), 'MONTHS'|ta(page.date|date('n') -1), page.date|date('Y'), item.date|date('H:i') ]|join(' ') }}
            </time></p>{% endif %}
                {% if page.header.place %}<p>{{ page.header.place }}</p>{% endif %}
                {% if page.header.organisers %}<p class="small">{{ page.header.organisers|join(' et ') }}</p>{% endif %}
                {% if page.header.link %}
                    {% for info in page.header.link %}
                        <a class="small" href="{{ info.url }}" target="_blank">{{ info.name }}</a>
                    {% endfor %}
                {% endif %}
            </li>
        </ul>
        <nav>
            <a href="" id="menu-toggler">Menu</a>
            <a href="" id="map-toggler">Map</a>
        </nav>
    </div>
    <div id="content">
        {% for item in page.header.content %}
            {% if item.media %}
                {% for media in item.media %}
                    {% if media.type|contains('image') %}
                        <img src="/{{ media.path }}"/>
                    {% else %}
                    {% if media.type|contains('video') %}
                        {{ page.media[media.name].controls(1) }}
                    {% else %}
                    {% if media.type|contains('audio') %}
                        {{ page.media[media.name].controls(1) }}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if item.caption %}
                <figcaption>{{ item.caption }}</figcaption>
            {% endif %}
            {% if item.text %}
                <div class="text">{{ item.text|markdown }}</div>
            {% endif %}
        {% endfor %}
        {% if page.content %}<div class="text">{{ page.content }}</div>{% endif %}
    </div>
    <nav id="page-nav" class="bottom">
        <a href="{{ page.parent.route }}">Retour</a>
    </nav>
{% endblock %}
