{% extends 'partials/base.html.twig' %}

{% block page %}
<main>
    <p>{{ page.title }}</p>
    <div id="list">
        <ul>
        {% for item in page.collection %}
            <li>
                <a href="{{ item.url }}" class="item">{{ item.title }}</a>
                <p><time datetime="{{ item.date|date('c') }}">
                {{ [item.date|date('d'), 'MONTHS'|ta(item.date|date('n') -1), item.date|date('Y'), item.date|date('H:i') ]|join(' ') }}
                </time></p>
                <p>{{ item.header.place }}</p>
                <p>
                {% for organiser in item.header.organisers %}
                    {{ organiser.name }}
                {% endfor %}
                </p>
            </li>
        {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}
